<!DOCTYPE html>
<html ng-app="nodeTodo">
  <head>
    <title>My Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/stylesheets/port.css" media="screen">
  </head>
  <body ng-controller="mainController">
    <div>
      Navigation|| <a href="/">My Blog</a>
    </div>

    <div class="container">

      <div class="header">
        <h1>My Portfolio</h1>
        <h5>A look at my work so far...</h5>

        <hr>
      </div>


      <div class="juke">
        <a href="/juke">
  <img src="https://lh3.ggpht.com/jB_AwLCFH7VIFlxBG2sP6kE1hHcAsGUxwfA6h7_Xmv8gN1QfQ90d4bxKMqyOFV_oDA=w170"></a>
  <p>This is my Jukebox with the Spotify API</p><hr/>
</div>

<div>
  <p>More to come...</p>
  <a href="https://github.com/krey89">My Github</a>
  <br/>
  <a href="https://www.linkedin.com/in/kevin-reyes-28b78057/">My LinkedIn</a>
</div>



      <br>



    </div>
    <script src="//code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.min.js"></script>
    <script src="javascripts/app.js"></script>
  </body>
</html>
